* {
    box-sizing: border-box;
  }
  body{
      margin-left: 0px;
      margin-right: 0px;
      background-color: #F7F7F7;
  }
  a {
      text-decoration: none!important;  
    }
  body {
    margin: 0;
  }
  
  .nav {
    overflow: hidden;
    background-color:white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    
  }
  .nav::after{
      content: "";
      width: 100%;
      background-color: #4EA751;
      height: 3px;
      /*margin-top: 20px;*/
      top: 84px;
      position: absolute;
  }
  
  .nav a {
    float: left;
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 30px 10px;
    text-decoration: none;   
  }
  .nav-link {
    display: block;
    padding: .5rem 1rem;
    padding-bottom: 0px!important;
}
  .dropdown-container {
    float: left;
    overflow: hidden;
  }
  
  .dropdown-container .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
  
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 86px;
  }
  
.dropdown-content:hover{
    visibility: visible;
}
  
  
  
.dropdown-container:hover .dropdown-content {
    display: block;  
  }

  
  /* Create three equal columns that floats next to each other */
.column-3{
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: white;
    height: 100px;
  }
  
  .column-4 {
    float: left;
    width: 25%;
    padding: 10px;
    background-color: white;
    height: 100px;
  }
  
.column-4 a {
    float: none;
    color: black;
    padding: 25px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .column-3 a{ 
    float: none;
    color: black;
    padding: 25px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content ::after{
    content: "";
    width: 100%;
    background-color: #4EA751;
    height: 3px;
  }
  
  .column a:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the columns */
  .row-nav:after {
    content: "";
    display: table;
    clear: both;
  }

  /*Carousel*/
  #carousel{
margin-top: -2px;
width: 100%;
  }
  /*Footer*/
footer{
     
      background-color: #2E363A;
      margin:0px 0px;
      width: 100%;
  }
.footer-list li{
margin:20px 0px;
  }
.footer-list a{
      text-decoration: none;
      color: white;
      font-size: 12px;
  }
  
.footer-list a:hover{ 
    color: #ee2b3b;
    transition: 0.3s;
  }
.footer-list li a:hover{
      text-decoration: underline;
      
  }
.dropbtn:hover{
    text-decoration: underline;
  }
  .dropup-content:hover{
    text-decoration: underline;
    
  }
  .footer-list{
      list-style: none;
      margin-left: 12%;
  }
  .dropbtn {
    font-size: 12px;
    border: none;
  }
  
  .dropup {
    position: relative;
    display: inline-block;
  }
 
  
  .dropup-content {
    display: none;
    position: absolute;
    background-color: #2E363A;
    width: fit-content;
    color: white;
    
    z-index: 1;
  }
 
  .dropup-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
  }
  
  .dropup-content a:active {background-color: #ccc}
  
  .dropup:hover .dropup-content {
    display: block;
  }
  .login{
margin-top: 35%;
  }

  
  .login a{
      text-decoration: none;
      color: white;
      padding: 10px 30px;
      background-color: #ee2b3b;
  }
  .login a:hover{
      background-color: black;
      color: white;
      transition: 0.5s;
  }
  .social{
      list-style: none;
      padding-left: 0px;
      margin-top:35%;
  }
  .social li{
      display: inline;
      margin-right: 12px;
      
  }
  .social li a{
      color: white;
      text-decoration: none;
      font-size: 20px;
      border: 2px solid white;
      border-radius: 50%;
    padding: 15px 20px;
  }
  .facebook{
    padding: 15px 22px!important;
  }
  .social li a:hover{
    background-color: white;
    color: #ee2b3b;
    transition: 0.5s;
  }
  /*News Card*/
  .news-card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .news-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .news{
    margin: 80px 0px;

  }
  .news-card-container {
    margin: 45px 25px 45px 50px;
    text-align-last: left;
  }
  .news-container{
    margin: 0 auto;
  }
  .card-container{
    display: flex;
    width: 100%;
    justify-content: center;
  }
.card-container p{
    color: #ee2b3b;
  }
  .card-container h5{
    font-weight: 400;
  }
  .card-container h5 a{
    color: black;
  }
  .card-container h5:hover{
    text-decoration: underline;
  }
  .news-card{
    height: 425px;
    width: 100%;
  }
  .news-card img{
    height: 225px;
  }
  .news h2{
    color: #0071A5;
    font-weight: 400;
    margin-left: 170px;
    margin-bottom: 50px;
    position: relative;
  }
  .news h2::after{
    content: "";
    display: block;
    width: 75%;
    height: 2px;
    background: #7FAFC9;
    left: 3em;
    top: 65%;
    position: absolute;
  }

  /*Events*/
  .events-card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .events-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .events{
    margin: 60px 0px;

  }
  .events-card-container {
    margin: 45px 25px 45px 50px;
    text-align-last: left;
  }
  .events-container{
    margin: 0 auto;
  }
  .events-card{
    height: 425px;
    width: 100%;
  }
  .events-card img{
    height: 225px;
  }
  .events h2{
    color: #0071A5;
    font-weight: 400;
    margin-left: 170px;
    margin-bottom: 50px;
    position: relative;
  }
  .events h2::after{
    content: "";
    display: block;
    width: 75%;
    height: 2px;
    background: #7FAFC9;
    left: 4em;
    top: 65%;
    position: absolute;
  }

  /*Marketing*/
  .box1{
    background-color: #2E363A;

    clip-path: polygon(70% 0%, 95% 50%, 70% 100%, 0% 100%, 0 44%, 0% 0%);
    border-bottom-left-radius: 40%;
  }
  .box2{
    background-color: #040707;
    
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
margin-left: -40px;
  } 
  .box3{
    background-color: #EF4642;
   
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
border-top-right-radius: 40%;
margin-left: -30px;
  }
  .marketing-container{
    display: flex;
    margin: 60px auto;
    justify-content: center;
    width: 100%;
    border: 1px solid white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    padding: 40px 30px;
    background-color: white!important;
    
  }
  .marketing{
    width: 100%;
    
  }
  .box{
    position: relative;
    width: 280px;
    height: 280px;
  }
  .box-content h5{
color: white;
text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    margin-left: -15px;
    margin-bottom: 15px;
  }
  .box-content p{
    color: white;
    text-transform: capitalize;
    font-size: 16px;
  }
  .box1-content{
    display: inline;
    position: absolute;
    top: 25%;
    left:20%;
  }
  .box2-content{
    position: absolute;
    top: 25%;
    left:35%;
  }
  .box3-content{
    position: absolute;
    top: 25%;
    left:35%;
  }
  .marketing-header{
    margin: 10px auto;
  }
  .marketing-footer{
    margin: 10px auto;
  }
  .marketing-footer a{
    color: #EF4642;
    text-decoration: none;

  }
  .marketing-footer h3 a:hover{
    text-decoration: underline!important;
    color: #EF4642;
  }
  /*Experience*/
  .experience{
    margin: 100px 15px 120px 15px;
    
  }

  .experience-header{
    color: #2E363A;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .experience-btn{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    
  }
  .experience-btn a{
    color: #666;
    border-color: #ebebeb;
    background-color: #ebebeb;
    padding: 15px 25px;
  }
  .experience-btn a:hover {
    color: #5e5e5e;
    border-color: #dcdcdc;
    background-color: #dcdcdc;
  }
  
  .exp-img:hover{
    margin-top: -3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    filter: opacity(0.8);
    transition: 0.2s;
    transition-timing-function: ease-in;
    
    
  }
  .image-head{
    width: 100%;
  }
  
  .icon{
    display: none; 
     }

  /*Media query*/
  
@media (max-width: 768px){ 
    .card-container{
      
      flex-direction: column!important;
}
.card-container > div{
  align-self: center;
  max-width: 50%;
  margin-bottom: 30px;
}
.events h2:after{
width: 35%;
}
.news h2:after{
  width: 35%;
}
.events h2{
  margin-left: 25%;
}
.news h2{
  margin-left: 25%;
}
.footer-list{
  margin-left: 0px;
}
footer div>div{
  width: 33%!important;
}
.social{
  margin-top: 50px!important;
}

}
@media (max-width: 992px) {
  .icon{
    display: block; 
     }
  .nav-link> a:not(:last-child) {
display: none;
  }
  .nav-link>.dropdown-container {
    display: none;
  }
  .nav-link.responsive {
    position: relative;
    width: 100%;
    text-align-last: center;
  }
  .nav-link.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-link.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
  .dropdown-container.responsive {
    position: relative;
    width: 100%;
    text-align-last: center;
    display: block;
  }
  .dropdown-container.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
  .row-nav {
    display: inline-block;
    overflow: hidden;
  }
  .dropdown-container.responsive:hover .dropdown-content{ 
    display: contents;
  }
.social{
  margin-top: 10%;
}
.social li{
  display: block;
  margin-bottom: 40px;
}
}
@media (max-width: 1002px){



}